//Color Palette
$primary-color: #72035d;
$secondary-color: #000000;
$background-color: #f5f3f3;

//Fonts
$primary-font: 'Open Sauce One', sans-serif;

//Sizes
$center: 0 auto;
$max-width: 1200px;
$horizontal-indent: 24px;
$logo-indent: 23px;
$input-width: 278px;
$vertical-gap: 15px 0;
